{% extends 'base.twig' %}

{% block content %}
    {% if comic is defined and comic is not empty %}
        <p>Comic successfully added</p>
        <p><a href="{{ root }}/management/?comic={{ comic.id }}">Manage {{ comic.name }}</a></p>
    {% endif %}
    <h1>Add comic</h1>
    <form id="form1" name="form1" method="post">
        <p>
            <label for="comic">Comic id:</label>
            <input type="text" name="comic" id="comic">
        </p>
        <p>
            <label for="name">Comic name:</label>
            <input type="text" name="name" id="name">
        </p>

        <p>
            <input name="has_categories" type="checkbox" id="has_categories" value="1">
            <label for="has_categories">Organize the comic using categories</label>
        </p>
        <p>
            <label for="key_field">Primary grouping key: </label>
            <select name="key_field" id="key_field">
                <option value="">Select key...</option>
                {% for key, name in key_fields %}
                    <option value="{{ key }}">{{ name }}</option>
                {% endfor %}
            </select>
        </p>
        <h3>Additional fields</h3>
        <p>
            {% for key, name in key_fields %}
                <input value="{{ key }}" id="extra_{{ key }}" name="extra_keys[]" type="checkbox" >
                <label for="extra_{{ key }}">{{ name }}</label>
                <br/>
            {% endfor %}
        </p>
        <p>
            <input type="submit" name="submit" id="submit" value="Submit">
        </p>

    </form>
{% endblock %}