<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title|default('Comicmanager') }}</title>
    <link href="{{ root }}/comicmanager.css" rel="stylesheet" type="text/css"/>
    {% if extra_css is defined %}
        <link href="{{ root }}/static/{{ extra_css }}" rel="stylesheet" type="text/css"/>
    {% endif %}
    {% if js is defined %}
    <script src="{{ root }}/static/{{ js }}"></script>
    {% endif %}
</head>

<body>
<div class="nav_bar">
    <ul class="toc">
        {% if comic is defined and comic is not empty %}
            <li><a href="{{ root }}">Change comic</a></li>
            <li><a href="{{ root }}/showcomics_front.php?comic={{ comic.id }}">Show {{ comic.name }}</a></li>
            <li><a href="{{ root }}/management/index.php?comic={{ comic.id }}">Manage {{ comic.name }}</a></li>
            <li><a href="{{ root }}/maintenance/index.php?comic={{ comic.id }}">Maintain {{ comic.name }}</a></li>
        {% else %}
            <li><a href="{{ root }}">Select comic</a></li>
            <li><a href="{{ root }}/management/addcomic.php">Add comic</a></li>
        {% endif %}
    </ul>
</div>
<br>
<hr>
{% block content %} {% endblock %}
</body>
</html>