<label for="{{release.date}}">Category:</label>
<select name="release[{{release.date}}][value]" id="{{release.date}}">
    <option value="">Select category</option>
    {% for category in categories %}
        {% if release.category|default()==category.id %}
            <option value="{{category.id}}" selected="selected">{{category.name}}</option>
        {% else %}
            <option value="{{category.id}}">{{category.name}}</option>
        {% endif %}
    {% endfor %}
</select>
