{% extends 'base5.twig' %}
{% set first = true %}
{% block head %}
    <script src="{{ root }}/static/edit_release.js"></script>
{% endblock %}
{% block content %}
    {{ errors }}
    <form method="post">
    {% for release in releases %}
        {% if first %}
            {% set first = false %}
        {% if first_release.image is defined %}
            {% include 'image.twig' with {'release': first_release} %}
        {% endif %}
            {% if comic.has_categories %}
                <p>{% include 'category.twig' %}</p>
            {% endif %}
            <table>
            <tr>
                {% for key in release.comic.fields %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        {% endif %}
            <tr>
                {% for key, value in release.values %}
                    <td><input type="text" name="release[{{ release.uid }}][{{ key }}]" value="{{ value }}" class="input_{{ key }}" /></td>
                {% endfor %}
            </tr>
    {% endfor %}
    </table>
        <input type="submit" name="submit" value="Save" />
    </form>
    <a href="?comic={{ comic.id }}">Edit other release</a>
{% endblock %}