{% extends 'base5.twig' %}
{% block head %}
    <script src="{{ root }}/static/add_category.js"></script>
{% endblock %}
{% block content %}
    <p>
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
    </p>
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>Delete</th>
                <th>Visible</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td><input type="text" name="categories[{{ category.id }}][name]" value="{{ category.name }}"/></td>
                <td><input type="checkbox" name="categories[{{ category.id }}][delete]"/></td>
                <td><input type="checkbox" name="categories[{{ category.id }}][visible]" value="1" {% if category.visible==1 %}checked="checked"{% endif %} /></td>
            </tr>
            {% endfor %}
        </table>
        <input name="submit" type="submit"></form>

{% endblock %}