{% extends 'base.twig' %}

{% block content %}
<form method="post" action="{{ root }}/management/managecomics_process.php">
    <input type="hidden" name="comic" id="comic" value="{{comic.id}}">
    <input type="hidden" name="site" id="site" value="{{site}}">
    <input type="hidden" name="mode" id="mode" value="{{mode}}">
    <input type="hidden" name="root" id="root" value="{{root}}">

    <input type="submit" name="button" value="Submit"/>

    {% for release in releases|slice(0,20) %}
    <div>
        {% include 'image.twig' %}<br />
        {% if mode == 'category' %}
            {{ include ('category.twig', {'name': 'release['~release.date~'][value]', 'id': release.date}) }}
        {% else %}
            {% include mode ~ '.twig' %}
        {% endif %}
    </div>
    <input type="hidden" name="release[{{ release.date }}][uid]" value="{{release.uid|default()}}">
    {% endfor %}
    <input type="submit" name="button" value="Submit"/>
</form>

{% endblock %}